@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-3">
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>descrizione</th>
                <th>foto</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>margherita</td>
                <td>lorem ipsum dolor</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>diavola</td>
                <td>lorem ipsum dolor</td>
                <td>mary@example.com</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>capricciosa</td>
                <td>lorem ipsum dolor</td>
                <td>july@example.com</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>caprese</td>
                <td>lorem ipsum dolor</td>
                <td>july@example.com</td>
                <td>john@example.com</td>
            </tr>
        </tbody>
    </table>
</div>
