@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-3">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>descrizione</th>
                <th>foto</th>
                <th>Prezzo</th>
            </tr>
        </thead>
       
        <tbody>
            <tr>
                <td>margherita</td>
                <td>lorem ipsum dolor</td>
                <td>
                    <img src="https://img.pizza/250/250" class="card-img-top" alt="...">
                </td>
                <td>5,00€</td>
            </tr>
            <tr>
                <td>diavola</td>
                <td>lorem ipsum dolor</td>
                <td>
                    <img src="https://img.pizza/250/250" class="card-img-top" alt="...">
                 </td>
                <td>5,00€</td>
            </tr>
            <tr>
                <td>capricciosa</td>
                <td>lorem ipsum dolor</td>
                <td>
                    <img src="https://img.pizza/250/250" class="card-img-top" alt="...">
                </td>
                <td>5,00€</td>
            </tr>
            <tr>
                <td>caprese</td>
                <td>lorem ipsum dolor</td>
                <td>
                    <img src="https://img.pizza/250/250" class="card-img-top" alt="...">
                </td> 
                <td>5,00€</td>
            </tr>
        </tbody>
    </table>
</div>
